[Desktop Entry]
Encoding=UTF-8
Name=Link to TFilter - Free online FIR filter design
Type=Link
URL=http://t-filter.appspot.com/fir/index.html
Icon=text-html
