[Desktop Entry]
Encoding=UTF-8
Name=Link to Understanding cascaded integrator-comb filters
Type=Link
URL=http://www.design-reuse.com/articles/10028/understanding-cascaded-integrator-comb-filters.html
Icon=text-html
